In [1]:
import numpy as np
import pandas as pd

In [33]:
np.random.seed(123)

nb_sm = 1000
cs_ratio = 0.9
nb_c1 = int(nb_sm * cs_ratio)
nb_c2 = nb_sm-nb_c1
print(f'{nb_c1} {nb_c2}')

900 100

In [ ]:
cs_01 = pd.DataFrame({
    "feature 1 ": np.random.normal(loc=0,scale=1,size=nb_c1),
    "feature 2 ": np.random.normal(loc=0,scale=1,size=nb_c1),
    "target": [0] * nb_c1
})
cs_02 = pd.DataFrame({
    "feature 1 ": np.random.normal(loc=2,scale=1,size=nb_c2),
    "feature 2 ": np.random.normal(loc=2,scale=1,size=nb_c2),
    "target": [1] * nb_c2
})

In [44]:
df = pd.concat([cs_01,cs_02]).reset_index(drop=True)
df.head()

   feature 1   feature 2   target
0   -1.085631    0.551302       0
1    0.997345    0.419589       0
2    0.282978    1.815652       0
3   -1.506295   -0.252750       0
4   -0.578600   -0.292004       0

In [45]:
df.tail()

     feature 1   feature 2   target
995    1.376371    2.845701       1
996    2.239810    0.880077       1
997    1.131760    1.640703       1
998    2.902006    0.390305       1
999    2.697490    2.013570       1

In [46]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [47]:
df_minor = df[df['target']==1]
df_major = df[df['target']==0]

In [53]:
df_major.shape

(900, 3)

In [54]:
df_minor.shape

(100, 3)

In [51]:
from sklearn.utils import resample

In [ ]:
# UP sampling 
df_minor_up = resample(df_minor, replace=True, n_samples=len(df_major), random_state=42)
df_minor_up.shape

(900, 3)

In [57]:
df_minor_up.head()

     feature 1   feature 2   target
951    1.125854    1.843917       1
992    2.196570    1.397425       1
914    1.932170    2.998053       1
971    2.272825    3.034197       1
960    2.870056    1.550485       1

In [58]:
df_minor_up.tail()

     feature 1   feature 2   target
952    1.188902    2.189189       1
965    3.919526    1.980541       1
976    2.810326    3.604614       1
942    3.621531    2.168229       1
974    1.160887    2.489203       1

In [60]:
df_n = pd.concat([df_major,df_minor_up]).reset_index(drop=True)

In [62]:
df_n.tail()

      feature 1   feature 2   target
1795    1.188902    2.189189       1
1796    3.919526    1.980541       1
1797    2.810326    3.604614       1
1798    3.621531    2.168229       1
1799    1.160887    2.489203       1

In [63]:
df_n["target"].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [65]:
# Down sampling 
df_major_down = resample(df_minor,replace=True,n_samples=len(df_minor),random_state=42)

In [66]:
df_major_down.shape

(100, 3)