In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

In [20]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [21]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [28]:
lbl_encoder.fit_transform(df[['color']])

c:\Users\HP OMEN\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
df = pd.DataFrame({
    'size': ['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [12]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [13]:
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [14]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [15]:
encoder.transform([['small']])

c:\Users\HP OMEN\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])