In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.DataFrame({"color":["blue","green","green","blue","red","blue"]})

In [3]:
df

   color
0   blue
1  green
2  green
3   blue
4    red
5   blue

In [7]:
from sklearn.preprocessing import OneHotEncoder
encoder= OneHotEncoder()

In [11]:
encoded = encoder.fit_transform(df[['color']]).toarray()

In [12]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [13]:
encoder_df.head()

   color_blue  color_green  color_red
0         1.0          0.0        0.0
1         0.0          1.0        0.0
2         0.0          1.0        0.0
3         1.0          0.0        0.0
4         0.0          0.0        1.0

In [15]:
final_df = pd.concat([df,encoder_df],axis=1)
final_df.head()

   color  color_blue  color_green  color_red
0   blue         1.0          0.0        0.0
1  green         0.0          1.0        0.0
2  green         0.0          1.0        0.0
3   blue         1.0          0.0        0.0
4    red         0.0          0.0        1.0